
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  width: 1128px;
}
img {
  cursor: url(../bxs_hand-down.png), auto;
  display: block;
  max-width: 100%;
  height: auto;
  width: 360px;
  height: 200px;
}

ul {
  list-style-type: none;
}

